/* Empty. Add your own CSS if you like */

.icon{
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
}

.light-background{
	background-color: #c6d6ef;
}

.dark-background{
	background-color: slategrey;
}

.light-text > span, i, p, h1, h2, h3, h4, h5, h6, a{
	color: #c6d6ef;
}


