<ion-view view-title="Inicio" class="ion-view">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="showOptionsPopover($event)">
            <span style="font-size:18px;" class="icon ion-more"></span>
        </button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <button href="" ng-click="queryAndShowWeather(true)" class="button button-block button-dark">{{!showWeather ? 'Mostrar clima' : 'Ocultar clima'}}</button>
    <div ng-if="showWeather">
    	<div class="item item-divider no-pad no-marg">
    		<div class="row">
    			<div class="col col-80">
    				<h2 style="padding-top: 1px;" class="light-text">Clima en Medellín</h2>
    			</div>
    			<div class="col">
    				<button class="no-pad no-marg button button-positive button-small pull-right top" style="padding-left: 1px; padding-right: 1px;" ng-click="queryAndShowWeather(false)">
                        <span class="icon ion-refresh light-text"></span>
                        Refrescar            
                    </button>
    			</div>
    		</div>
    	</div>
		<div class="item item-thumbnail-left">
			<img ng-src="{{getCurrentWeatherIconUrl()}}" alt="localWeather.description"/>
			<h2>{{localWeather.main}}</h2>
			<h3>{{localWeather.description}}</h3>
			<div style="padding:2px;"></div>
			<h3><span class="icon ion-thermometer"></span>{{localTemp.temp}} {{getCurrentTemperatureSign()}}</h3>
			<h4>
                min: <strong>{{localTemp.temp_min}} {{getCurrentTemperatureSign()}}</strong> - max: <strong>{{localTemp.temp_max}} {{getCurrentTemperatureSign()}}</strong>
                <button class="button button-balanced button-small pull-right" ng-click="showWeatherDetails()">
                    Ver más...
                </button>
            </h4>
	    </div>
    </div>
  </ion-content>
</ion-view>
