<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <!-- Home Tab -->
  <ion-tab title="Inicio" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/home" class="dark light-bg">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Login tab -->
  <ion-tab title="Login" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/tab/login" class="dark light-bg">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/settings" class="dark light-bg">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
